html {font-family: 'Courier New', monospace;}

form {display: inline;}


#actionMenuDiv {
    position: fixed;
    border: 4px outset grey;
    left: 0%;
    right: 80%;
    top: 0%;
    bottom: 0%;
    padding-top: 6%;
    padding-left: 1%;
    background-color: lightgrey;
}

.buttons{
  display: none;
}

.buttonTxt {
  font-size: 75%;
  border: 2px outset #ccc;
  border-radius: 8px;
  display: inline-block;
  padding: 2% 4%;
  cursor: pointer;
  background-color: #e1e1e1;
}
.buttonTxt:hover {background-color: white;}

#accountMenuDiv {
    position: fixed;
    border: 6px outset grey;
    z-axis: 2;
    right: 80%;
    top: 0%;
    left: 0%;
    padding: 1%;
}

/* Add an active class to the active dropdown button */
.active {
  background-color: white;
  color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  padding-left: 8px;
}
