html {font-family: 'Courier New', monospace;}

.fileTables {
    position: absolute;
    left: 20%;
    top: 0%;
    right: 0%
}

.hotbar {
    position: sticky;
    z-axis: 2;
    top: 0%;
}

#signOutTxt{
    position: sticky;

}

#actionMenuDiv {
    position: fixed;
    border: 4px outset grey;
    left: 0%;
    right: 80%;
    top: 0%;
    bottom: 0%;
    padding-top: 6%;
    padding-left: 1%;
    background-color: lightgrey;
}

#downloadMenuDiv {
    position: fixed;
    top: 10%;
    left: 16%;
    width: 17%;
    height: 0%;
}

#accountMenuDiv {
    position: fixed;
    border: 6px outset grey;
    z-axis: 2;
    right: 80%;
    top: 0%;
    left: 0%;
    bottom: 90%;
    padding-top: 1%;
    padding-left: 1%;
}

.buttons{
  display: none;
}

.buttonTxt {
  font-size: 75%;
  border: 2px outset #ccc;
  border-radius: 8px;
  display: inline-block;
  padding: 2% 4%;
  cursor: pointer;
  background-color: #e1e1e1;
}
.buttonTxt:hover {background-color: white;}


.subButtonTxt {
  font-size: 12px;
  color: white;
  border: 2px solid #2e2e2e;
  border-radius: 8px;
  display: inline-block;
  padding: 2% 1%;
  cursor: pointer;
  background-color: #393939;
}
.subButtonTxt:hover {background-color: grey;}


#logBox {
  position: fixed;
  left: 1%;
  right: 81%;
  top: 50%;
  bottom: 10%;
  border: 2px solid black;
  padding: 1%;
  white-space: nowrap;
  background-color: white;
}

#logHeader {
  text-align: center;
  border: 1px solid black;
}

#logOutput {
  position: fixed;
  top: 60%;
  bottom: 10%;
  left: 2%;
  right: 81%;
  white-space: nowrap;
  margin: 2px;
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
}

.checks {
    width: 1%;
    height: 0%;
    text-align: center;
}

.dateItems {
    width: 18%;
    text-align: center;
}

.sizeItems {
    width: 10%;
    text-align: center;
}

#createDir {
    margin: 5;
}

#zipIcon {
    width: 100%;
}

#refreshDBDiv {
  position: fixed;
  bottom: 3%;
  left: 2%:
}

#refreshLogsDiv {
  position: fixed;
  bottom: 3%;
  right: 82%;
}

.select {
cursor: pointer;
transition: background 0.3s;
border-radius: 0.2em;
    width: 100%;
}

.select:hover {background-color: white;}
.caret {
width: 0;
height: 0;
border-left: 5px solid transparent;
border-right: 5px solid transparent;
border-top: 6px solid #fff;
transition: 0.3s;
}

.dropdown {
  height: 20%;
  width: 20%;
}

.caret-rotate {
    transform: rotate(180deg);
}

.menu {
list-style: none;
padding: 0.2em 0.2em;
background-color: grey;
box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
border: 1px black solid;
border-radius: 1em;
position: absolute;
left: 0%;
width: 40%;
transform: translateX(-50%);
opacity: 0;
display: none;
transition: 0.2s;
font-size: 10%;
z-index: 1;

}
.menu li {
    padding: 0.7em 0.5em;
}

.active {
    background: black;
}


.menu-open {
display: block;
opacity: 1;
}

.tableItems:hover {background-color:  #e5e5e5;}
