.fileTables {
    width: 80%;
    float: right;
}

.buttonDivs {
    position: fixed;
    left: 0%;
}

.checks {
    width: 1%;
    text-align: center
}
.dates {
    width: 20%;
    text-align: center
}
.size {
    width: 4%;
    text-align: center
}

